@import 'variables.scss';
@import 'mixins.scss';


.slider-container{
  overflow: hidden;
  width: 100%;
  background-color: $text-color;
  padding: sp('xs') sp('xs');


}
.slider-track{
  display:flex;
  gap: 1rem;
  flex-wrap: nowrap;
  animation: scroll var(--scroll-duration, 12s) linear infinite;
  will-change: transform;
  transform: translate3d(0,0,0);
}
.slider-item{
  padding-right: 1rem;
  white-space: nowrap;
  flex: 0 0 auto;
  color: $primary-color;
  will-change: transform;
}

@keyframes scroll{
  0% { transform: translate3d(0,0,0); }
  100% { transform: translate3d(-50%,0,0); }
}

.slider-measure{
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden;
  white-space: nowrap;
}
